body {
    background-color: #000;
    font-size: 22px;
    font-family: sans-serif;
}

.topmenu {
    display: flex;
    background-color: #3b362e;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    display: inline-block;
}

ul{
    list-style: none;
    padding: 0;
}

.submenu{
    max-width: 200px;
    position: absolute;
    z-index: 5;

}

.submenu li{
    position: relative;
}

.submenu .submenu{
    position: absolute;

}
.submenu a{
    border-bottom: 1px solid #000;
    padding: 10px 20px;
    background-color: #eee;
    font-size: 16px;
    display: block;
    color: #000;
}